In [2]:
import pandas as pd

file_to_load = "purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
#Total Players
total = len(purchase_data["SN"].value_counts())
total

player_number = pd.DataFrame({"Total Players":[total]})
player_number

   Total Players
0            576

In [6]:
#Unique Items
number_of_unique_items = len(purchase_data["Item ID"].unique())
number_of_unique_items

183

In [9]:
#Average Price
average_price = purchase_data["Price"].mean()
purchase_data.round(2)
average_price

3.050987179487176

In [10]:
#Number of pruchases
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases

780

In [11]:
#Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [12]:
#Summary Table
summary_table_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                                 "Average Price":[average_price],
                                 "Number of Purchases":[number_of_purchases],
                                 "Total Revenue":[total_revenue]})
summary_table_df.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [39]:
#Gender Statistics
gender_count = purchase_data.groupby("Gender")["SN"].nunique()

gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [41]:
gender_percentage = gender_count/total*100

gender_percentage.round(2)

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [54]:
gender = [(84.03, 484),
         (14.06, 81),
         (1.91, 11)]
gender_summary = pd.DataFrame(gender, columns =["Percentage of Players","Total Count"],index = ["Male", "Female", "Other/Non_Disclosed"])

gender_summary

                     Percentage of Players  Total Count
Male                                 84.03          484
Female                               14.06           81
Other/Non_Disclosed                   1.91           11

In [55]:
gender_purchases = purchase_data.groupby("Gender")["Item Name"]

gender_purchases.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [56]:
gender_average = purchase_data.groupby("Gender")["Price"].mean()
gender_average.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [57]:
gender_total_purchase = purchase_data.groupby("Gender")["Price"].sum()
gender_total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [58]:
gender_purchase_average = gender_total_purchase/gender_count
gender_purchase_average.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [60]:
gender_stats = [(113, 3.20, 361.94, 4.47),
                     (652, 3.02, 1967.64, 4.07),
                     (15, 3.35, 50.19, 4.56)]

gender_summary_table = pd.DataFrame(gender_stats, columns =["Purchase Count","Average Purchase Price", "Total Purchase Value", "Average Total Purchase Per Person"],
                                    index = ["Male", "Female", "Other/Non_Disclosed"])
gender_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Male,113,3.20,361.94,4.47
Female,652,3.02,1967.64,4.07
Other/Non_Disclosed,15,3.35,50.19,4.56

In [61]:
#Create Bins for Ages

bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]

age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [64]:
pd.cut(purchase_data["Age"], bins, labels=age)

0      15-19
1      35-39
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    15-19
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [66]:
ages_df = pd.DataFrame(bins, age)

ValueError: Shape of passed values is (9, 1), indices imply (8, 1)