In [4]:
import pandas as pd

file_to_load = "purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [5]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [13]:
total = len(purchase_data["SN"].value_counts())
total

player_number = pd.DataFrame({"Total Players":[total]})
player_number

   Total Players
0            576

In [16]:
number_of_unique_items = len(purchase_data["Item ID"].unique())
number_of_unique_items

183

In [22]:
average_price = purchase_data["Price"].mean()
purchase_data.round()
average_price

3.050987179487176

In [24]:
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases

780

In [26]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [29]:
summary_table_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                                 "Average Price":[average_price],
                                 "Number of Purchases":[number_of_purchases],
                                 "Total Revenue":[total_revenue]})
summary_table_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77